# Local .terraform directories
# These directories are created by `terraform init` and contain provider plugins
# and modules. They can be large and are specific to the local environment.
**/.terraform/*

# The .terraform.lock.hcl file should be committed to source control to ensure
# that `terraform init` will select the same provider versions for all users.
!.terraform.lock.hcl

# .tfstate files
# These files contain the state of your managed infrastructure. They can contain
# sensitive data and should not be committed if you use a remote backend.
*.tfstate
*.tfstate.*
*.tfstate.backup
terraform.tfstate.backend

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data.
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files can contain sensitive data
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc
variables.tf
export.txt
cloudbuild.yaml
/calendar-app/secret.yaml
/calendar-app/credentials-secret.yaml
/calendar-app/token-secret.yaml
/calendar-app/server/credentials.json
/calendar-app/server/token.json
/distributed-load-testing-using-kubernetes
/gke-autoscaling-benchmarking