# Use this to create app engine and AR repository as part of terraform apply/destroy.

# resource "google_app_engine_application" "app" {
#   project     = var.gke_project
#   location_id = "us-central1"
# }

# resource "google_artifact_registry_repository" "locust-repo" {
#   project       = var.gke_project
#   location      = "us-central1"
#   repository_id = "locust-gke-terraform-repo"
#   description   = "locust gke terraform repo"
#   format        = "DOCKER"
# }